* {{postId}} 
* {{postTitle}} 
* {{publishDate}}
* {{postStatus}}
* {{content}}
* {{author.firstName}} {{author.lastName}} {{author.profile}} 
{{#category}}
* {{name}}
{{/category}}
{{#tag}}
* {{name}}
{{/tag}}