body {
    margin: 0 auto;
    color: #777;
    font: 100% Helvetica, arial, freesans, clean, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3b8bba;
}
pre, code {
font-family: Consolas, 'Liberation Mono', Courier, monospace;
color: #333;
background: rgb(250, 250, 250);
}
code {
border: none;
margin: 0 2px;
font-size: 0.8em;
padding: 0.4em 0.6em;
white-space: nowrap;
border: 1px solid #eee;
}
table {
    width: 100%;
    font-size: 0.8em;
}
p {
    line-height: 1.7em;
}
.opened { display: block;}
.closed { display: none;}
.search{
    border-bottom: 1px solid #cccccc;
}
/* ADMIN Layouts */
#layout {
    padding-left:150px; /* "left col (nav + list)" width */
    position: relative;
}
#list-layout {
    padding-left: 500px;
    position: relative;
}
#main {
    width: 100%;
}
.main-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.title-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0.8em;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
#nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-150px; /* "left col (nav + list)" width */
    width:150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 2em 0 3em;
}
#list-layout #nav {
    margin-left: -500px;
}
/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus,
    #nav .pure-menu a.selected {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }
#list {
    width:350px;
    border-right: 1px solid #ddd;
    bottom:30px;
}
#list-layout #list{
    margin-left: -350px;
}
.user {
    border-bottom: 1px solid rgb(75, 113, 151);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
.user p{
    margin: 0;
}
.user a{
    color: #fff;
}
.user-avatar{
    border-radius: 50px;
}

.advanced-options{
    float: right;
    padding:3px 8px;
    font-size: 0.6em;
    cursor: pointer;
}
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success, .pure-alert-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error, .pure-alert-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning, .pure-alert-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary, .pure-alert-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 1.5em;
    font-size: 100%;
}
/*Dashboard*/
.dashboard, .options,.crud {
    padding: 1em 2em 3em;
    /*width: 50%;*/
}
.options {
    width: 50%;
}
.crud {
    width: 100%;
}
.crud input,.crud select{
    margin:0 0 1em 0;
}
.l-box {
padding: 1.3em;
}
.filter-box {
padding:0 1em 0.5em;
}
.main-quote {
color: #666;
font-style: italic;
line-height: 1.8em;
border-left: 5px solid #ddd;
padding-left: 1.5em;
margin: 0;
}

/*List*/
.list-count {
        color: rgb(75, 113, 151);
    }

    .list-label-personal,
    .list-label-work,
    .list-label-travel {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    .list-label-personal {
        background: #ffc94c;
    }
    .list-label-work {
        background: #41ccb4;
    }
    .list-label-travel {
        background: #40c365;
    }

/* list Item Styles */
.list-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    cursor: pointer;
}
    .list-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .list-name, .list-subject {
        margin: 0;
    }

    .list-name {
        text-transform: uppercase;
        color: #999;
    }

    .list-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.list-item-selected {
    background: #eee;
}
.list-item-publish {
    border-left: 6px solid rgb(28, 184, 65);
}
.list-item-moderate {
    border-left: 6px solid rgb(202, 60, 60);
}
.list-item-draft {
    border-left: 6px solid rgb(223, 117, 20);
}
.list-item-scheduled {
    border-left: 6px solid rgb(66, 184, 221);
}
/* list Content Styles */
.list-content-header, .list-content-body, .list-content-footer {
    padding: 1em 2em;
    border-bottom: 1px solid #ddd;
}
    .list-content-title {
        margin: 0.5em 0 0;
    }
    .list-content-subtitle {
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
    .list-content-subtitle span {
        color: #999;
    }
    .list-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .list-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }
.navigation{
    text-align: center;
}
.pure-paginator .pure-button{
    height: auto;
}

/*form*/
#editor_code,#preview_code {
    height: 500px;
    overflow: auto;
}
#editor_code {
    padding: 10px;
    resize: none;
    font: normal 12px/15px 'Menlo', 'Bitstream Vera Sans Mono', 'Lucida Console P', 'Courier New', 'monospace';
    outline: none;
    border-radius: 3px 0 0 3px;
  }
#preview_code {
    padding: 10px 20px;
    background: #ffffff;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #cacaca;
    line-height: 1.4em;
    border-radius: 0px 3px 3px 0;
    box-shadow: inset 0 1px 3px #ddd;
  }


#footer {
    background: rgb(37, 42, 58);
    color: #fff;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#footer p{
    font-size: 80%;
    margin: 0;
    padding:0 1em;
}

/*Markdown buttons*/
ul.markdown_editor{
    padding: 0; 
    margin: 0;
    list-style: none;
}
.wmd-panel
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-width: 500px;
}

.wmd-button-bar 
{
    width: 100%;
    background-color: Silver; 
}

.wmd-input 
{ 
    height: 300px;
    width: 100%;
    background-color: Gainsboro;
    border: 1px solid DarkGray;
}

.wmd-preview 
{ 
    background-color: #c0e0ff; 
}

.wmd-button-row 
{
    position: relative; 
    margin: 10px 0 5px 0;
    padding: 0px;  
    height: 20px;
}

.wmd-spacer
{
    width: 1px; 
    height: 20px; 
    margin-left: 8px;

    position: absolute;
    background-color: Silver;
    display: inline-block; 
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url('../img/wmd-buttons.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.wmd-preview table {
  border: 1px solid black;
  border-collapse: collapse;
}

.wmd-preview table td {
  border: 1px solid black;
  padding: 5px;
}

.editor_count{
    font-size: 80%;
    color: #aaa;
}
.editor_count span{
    margin-right: 10px;
}
.extra-settings{
    background: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    margin:0 0 1em;
}
@media (max-width: 867px) {

    #main {
        width: auto;
    }
    #layout,#list-layout {
        padding-left: -150px;
    }
    #list {
        width: auto;
        height: 33%;
        border-bottom: 1px solid #ddd;
    }
    #main {
        width: auto; /* so that it's not 100% */
    }
    #list-layout #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 2em;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }
    #editor_code {
        border-radius: 3px 3px 0 0;
      }
    #preview_code {
        border-radius: 0px 0 3px 3px;
        border-width: 0 1px 1px 1px;
      }
}

@media (max-width: 480px) {
    #layout, #nav, #list, #main,#list-layout,#list-layout #main,#list-layout #list,#list-layout #nav {
        position: static;
        margin: 0;
        padding: 0;
    }
    #nav {
        width: 100%;
        height: 40px;
        position: relative;
    }
    #nav .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
    #nav.active {
        height: 80%;
    }
    .nav-inner {
        display: none;
    }
    #list{
        overflow: hidden;
    }
    #nav.active .nav-inner {
        display: block;
    }
    .list-avatar {
        width: 40px;
        height: 40px;
    }
}